before_install:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
jobs:
  include:
    # - stage: run tests
    #   arch: amd64
    #   language: node_js
    #   node_js:
    #   - 'stable'
      # install: npm install
      # script:
      # - npm test
    - stage: build docker image
      if: branch = feature/CI
      arch: arm64
      language: bash
      script:
      - docker build -t animea-meetings .
      - docker tag animea-meetings animea/animea-meetings:latest
      - docker push animea/animea-meetings:latest
    - stage: update services in server
      if: branch = feature/CI
      arch: amd64
      language: bash
      script:
      - curl http://$SERVER_IP:$API_PORT/update